@charset "utf-8";
/* CSS Document */

div,body,header,nav,ul,li,a,main,figure,fagcaption,h1,h2,h3,p,footer,artice,img,span{
	margin:0;
	padding:0;
}

body>*{
        height: auto;
        margin-left: auto;/*居中*/
        margin-right: auto;
		
}
	
img{
	vertical-align:bottom;
}
a{
	text-decoration:none;/*去除超链接的下划线*/
}
li{
	list-style:none;
}
html{
	font-size:14px;
	font-family:宋体;
}
h2{
	font-size:16px;
	color:#00C;
}